/**
 * Blue Header

 */

/*-- scss:defaults --*/
$presentation-heading-color: #0C60A6;
$presentation-font-size-root: 30px;

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("Header2.png");
  background-size: 100%;
}


